@font-face {
  font-family: 'ms_sans_serif';
  src: url('./fonts/MS Sans Serif 8pt.ttf') format('truetype');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'ms_sans_serif';
  src: url('./fonts/MS_Sans_Serif_8pt_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal
}
html,
body {
  
 font-size: 1.2em;
 font-family: ms_sans_serif;
}

a {
  color: inherit;
  text-decoration: none;
}

label {
  margin-top: 1em;
  margin-bottom: 2em;
  display: table-cell;
  vertical-align: middle;
}
.sociallinks{
  margin-top: 1em;
  margin-bottom: 2em;

}

* {
  box-sizing: border-box;
}
